* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: white;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ),
    url("Images/background1.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    min-height: 100%;
}

main {
    overflow: auto;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);
}

.landing-page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header {
    font-size: 55px;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: rgb(119, 119, 119) 0px 0px 3px;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    font-weight: 600;
    width: 90%;
    padding: 8px 0;
    margin-bottom: 10px;
}

button {
    border: 2px solid white;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    background: rgba(255, 255, 255, 0.4);
    padding: 8px 13px;
}

.brewery-list {
    margin: 15px;
}


li {
    position: relative;
    font-family: 'Archivo Narrow', sans-serif;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
}

h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 5px;
    font-style: italic;
    color: white;
}

p {
    margin: 5px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.results-page {
    display: flex;
    justify-content: space-around;
}

footer {
    position: relative;
    height: 20px;
    margin-top: -25px;
    clear: both;
}

footer a:hover {
    font-size: 18px;
}
/* Media Queries */

@media only screen and (min-width: 768px) {
    li {
        font-size: 25px;
    }
    
    h3 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1440px) {
    li {
        font-size: 30px;
    }
    
    h3 {
        font-size: 45px;
    }
}