* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: white;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ),
    url("Images/background1.jpg") no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

 html {
    font-size: calc(1em + 1vw);
 }

.container {
    min-height: 100%;
}

main {
    overflow: auto;
    padding-bottom: 6.25em;
}

a {
    text-decoration: none;
    color: rgb(242, 242, 242);
}

.landing-page {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Archivo Black', sans-serif;
    text-shadow: rgb(119, 119, 119) 0px 0px 3px;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    font-weight: 600;
    width: 90%;
    padding: 0.5em 0;
    margin-bottom: 0.625em;
    outline: none;
}

button {
    border: 2px solid white;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    background: rgba(255, 255, 255, 0.25);
    padding: 0.5em  0.8em;
    outline: none;
}

button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    color: white;

}

.brewery-list {
    margin: 0.9375em;
}

li {
    position: relative;
    font-family: 'Archivo Narrow', sans-serif;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    transition: 0.3s;
}

h3 {
    font-weight: 600;
    margin: 5px;
    font-style: italic;
    color: white;
}

p {
    margin:  0.3125em;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.results-page {
    display: flex;
    justify-content: space-around;
}

footer {
    margin-top: -1.5625em;
    font-size: 0.5em;
    font-weight: 600;
    opacity: 0.6;
}

footer a:hover {
    text-decoration: underline;
}
